html{
    height: 100%;
}
body{
    height: 100%;
}
.test2{
    margin-top: auto;
    margin-bottom: auto;
}
.test div{
    background: gray;
    border: 1px solid red;
}

.section{
    display: flex;
    height: 100%;
    width: 100%;
}
.section-left{
    flex: 1 1 auto;
    border: 1px solid green;
}

.section-right{
    flex: 1 1 auto;
    border: 1px solid blue;
}